div.indicator.component.success {
	background-color: $GREEN;
}

div.indicator.component.failed {
	background-color: $RED;
}

div.indicator.component.warning {
	background-color: $YELLOW;
}

div.indicator.component.issue {
	background-color: $LIGHT_RED;
}

div.indicator.component.fatal {
	background-color: $DARK_RED;
}

div.indicator.component.unknown {
	background-color: $DARK_GRAY;
}

div.indicator.component.prompt {
	background-color: $LIGHT_BLUE;
}

div.indicator.component.alert {
	background-color: $ORANGE;
}

div.indicator.component.activated {
	background-color: $LIGHT_BLUE;
}
div.indicator.component.deactivated {
	background-color: $LIGHT_GRAY;
}
