
$DEFAULT_BACKGROUND_COLOR: rgba( 153, 153, 153, 1 );
$DEFAULT_DIMENSION:	70px;
$DEFAULT_GAP: 1px;
$DEFAULT_OUTLINE_REST_COLOR: rgba( 153, 153, 153, 0.7 );
$DEFAULT_OUTLINE_FOCUS_COLOR: rgba( 105, 105, 105, 0.7 );
$DEFAULT_TEXT_SHADOW: rgba( 0, 0, 0, 0.01 ) 0 0 1px;

$MINIMUM_HEIGHT: $DEFAULT_DIMENSION;
$MINIMUM_WIDTH: $DEFAULT_DIMENSION;
$MAXIMUM_Z-INDEX: 16777271;
$MINIMUM_Z-INDEX: 0;


@mixin hidden {
	opacity: 0 !important;

	width: 0 !important;
	height: 0 !important;

	display: none !important;

	visibility: hidden !important;
}

@mixin disabled {
	pointer-events: none !important;

	cursor: not-allowed !important;
}
