
/*;
	@note:
		This will be the default icon packs we will load.
	@end-note
*/
@import "./font/material-icon.scss";
@import "./font/font-awesome.scss";

/*;
	@variable-documentation:
		Standard color scheme variables.
	@end-variable-documentation
*/
$RED: 			rgba( 190, 28, 28, 1 );
$DARK_RED: 		rgba( 139, 0, 0, 1 );
$LIGHT_RED: 	rgba( 255, 64, 64,1 );
$BLUE: 			rgba( 38, 140, 255, 1 );
$LIGHT_BLUE: 	rgba( 38, 140, 255,1 );
$DARK_BLUE: 	rgba( 0, 0, 139,1 );
$GREEN: 		rgba( 0, 155, 114, 1 );
$ORANGE: 		rgba( 255, 117, 24, 1 );
$YELLOW: 		rgba( 247, 232, 89, 1 );
$GRAY: 			rgba( 153, 153, 153, 1 );
$DARK_GRAY: 	rgba( 105, 105, 105, 1 );
$LIGHT_GRAY: 	rgba( 190, 190, 190, 1 );
