div.label.component {
	flex-direction: row;

	align-items: center;
	justify-content: center;

	height: fit-content;
	min-height: fit-content;
	max-height: fit-content;

	padding-left: 15px;
	padding-right: 15px;

	label {
		font-size: 1em;
		line-height: 1.1em;

		letter-spacing: .5px;

		text-overflow: ellipsis;

		word-wrap: normal;
		word-break: keep-all;
		white-space: nowrap;

		overflow: hidden;
	}

	&.title {
		padding-top: 5px;
		padding-bottom: 0;

		justify-content: flex-start;

		opacity: 0.8;

		label {
			font-size: .7em;

			text-transform: uppercase;
		}
	}

	&.notice {
		padding-top: 0;
		padding-bottom: 5px;

		justify-content: flex-end;

		opacity: 0.7;

		label {
			font-size: .7em;
		}
	}
}
