form.form.component {
	flex-direction: column;

	justify-content: space-between;
	align-items: stretch;

	&.headed {
		margin-top: $DEFAULT_GAP;
	}

	&.controlled {
		margin-bottom: $DEFAULT_GAP;
	}
}
