<Page
	name="login">
	<Content
		size="large size">
		<Header>
			
		</Header>
		<Body>
			<Content
				size="small size">
				<TextInput
					name="user-name"
					input={ this.state.firstName }
					title="FIRST NAME"
					label="First Name"
					update={ this.update }>
				</TextInput>
				<PassphraseInput
					name="first-name"
					input={ this.state.firstName }
					title="FIRST NAME"
					label="First Name"
					update={ this.update }>
				</PassphraseInput>
			</Content>
		</Body>
		<Footer>
			<Control
				name="test"
				text="Login">
			</Control>
			<Control
				name="test"
				text="Cancel">
			</Control>
		</Footer>
	</Content>
</Page>