.bar {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	width: auto;

	button {
		width: inherit;
		height: inherit;

		border: 0;
		border-radius: 0px;

		.icon {

		}

		.label {
			align-items: center;
		}
	}

	&.tiny.size {

	}

	&.small.size {

	}

	&.normal.size {
		height: 70px;

		button {
			.icon {
				width: 70px;
			}
		}
	}

	&.large.size {

	}
}