.headbar {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;

	width: 100%;

	display: flex;

	.dashbar-header-control {
		position: absolute;
		left: 0px;
		top: 0px;
	}

	.headbar-items {
		position: absolute;
		top: 0px;

		display: flex;
		justify-content: flex-end;
		align-items: center;

		.tab-list {

		}
	}

	.opbar-header-control {
		position: absolute;
		right: 0px;
		top: 0px;

		.switch-icon-control {
			.icon-control {
				button {
					border-radius: 0px;
				}	
			}
		}
	}

	&.tiny.size {

	}

	&.small.size {

	}

	&.normal.size {
		height: 70px;

		.headbar-items {
			left: 70px;
			right: 70px;

			height: 70px;
		}

		&.dashbar-active {
		
		}
	}

	&.large.size {

	}
}
