.input-label {
	display: flex;
	flex-direction: row;

	width: 100%;

	.label {
		label {
			
		}
	}

	&.tiny.size {

	}

	&.small.size {

	}

	&.normal.size {
		height: 50px;
	}

	&.large.size {

	}
}