.text-input[data-text-input] {
    display: flex;
    flex-direction: row;

    width: 100%;

    .label[data-label]{

    }

    .input[data-input]{

    }

    &.tiny {

	}

	&.small {

	}

	&.normal {
		height: 100px;
	}

	&.large {

	}
}
