div.list.component {
	flex-direction: column;

	justify-content: space-between;

	align-items: stretch;

	height: fit-content;
	min-height: 0;
	max-height: inherit;

	margin-top: $DEFAULT_GAP;
	margin-bottom: $DEFAULT_GAP;

	&> ul {
		display: flex;

		flex-direction: column;

		justify-content: space-between;

		align-items: stretch;

		width: 100%;
		min-width: 0;
		max-width: 100%;

		height: fit-content;
		min-height: 0;
		max-height: fit-content;

		overflow-y: auto;

		list-style: none;

		&> li:first-child {
			margin-top: $DEFAULT_GAP;
		}

		&> li:nth-child( n ) {
			margin-top: 0px;
			margin-bottom: $DEFAULT_GAP;
		}

		&> li:nth-child( n + 1 ) {
			margin-top: 0px;
		}

		&> li:last-child {
			margin-bottom: 0px;
		}
	}
}
