div.list.component {
	flex-direction: column;

	justify-content: space-between;

	align-items: stretch;

	@include adaptive-width;
	@include fitted-height;

	margin-top: $DEFAULT_GAP;
	margin-bottom: $DEFAULT_GAP;

	&> ul {
		display: flex;

		flex-direction: column;

		justify-content: space-between;

		align-items: stretch;

		@include adaptive-width;
		@include fitted-height;

		overflow-y: auto;

		list-style: none;

		&> li:first-child {
			margin-top: $DEFAULT_GAP;
		}

		&> li:nth-child( n ) {
			margin-top: 0px;
			margin-bottom: $DEFAULT_GAP;
		}

		&> li:nth-child( n + 1 ) {
			margin-top: 0px;
		}

		&> li:last-child {
			margin-bottom: 0px;
		}
	}

	& > div.footer {
		position: relative;

		display: flex;

		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		@include adaptive-width;
		@include fixed-height;
	}
}
