div.control.component {
	flex-direction: row;

	justify-content: center;
	align-items: center;

	flex: 1 1 auto;

	background-color: $DEFAULT_BACKGROUND_COLOR;

	cursor: pointer;

	&.group {
		background: none;
	}
}
