div.control.component {
	flex-direction: row;

	justify-content: center;
	align-items: center;

	flex: 1 1 auto;

	background-color: rgba( 153, 153, 153, 0.5 );

	cursor: pointer;

	&.set {
		background: none;
	}
}
