div.control.component {
	position: relative;

	flex-direction: column;

	justify-content: center;
	align-items: center;

	flex: 1 1 auto;

	background-color: rgba( 153, 153, 153, 1 );

	cursor: pointer;
}
