div.select.component {
	position: fixed;

	flex-direction: column;
	justify-content: center;
	align-items: center;

	z-index: $MAXIMUM_Z-INDEX;

	height: fit-content;
	min-height: 0;
	max-height: inherit;

	&.close {

	}

	&> .list.component {
		width: fit-content;
		min-width: 0;
		max-width: inherit;

		height: fit-content;
		min-height: 0;
		max-height: inherit;
	}

	&> div.cover {
		position: fixed;

		transform: translate( 0, 0 );

		z-index: $MINIMUM_Z-INDEX;

		background: $DEFAULT_BACKGROUND_COLOR;
	}
}
