div.select.component {
	position: fixed;

	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	flex-direction: column;
	justify-content: center;
	align-items: center;

	z-index: $MAXIMUM_Z-INDEX;

	@include adaptive-width;
	@include adaptive-height;

	&.close {
		@include hidden;
	}

	&> .list.component {
		@include fitted-width;

		@include fitted-height;
	}

	&> div.cover {
		position: fixed;

		transform: translate( 0, 0 );

		z-index: $MINIMUM_Z-INDEX;

		background: $DEFAULT_BACKGROUND_COLOR;
	}
}
