div.connect.component,
a.connect.component {
	flex-direction: row;

	justify-content: center;
	align-items: center;

	flex: 1 1 auto;

	@include adaptive-width;
	@include fixed-height;

	text-decoration: none;
}

a.connect.component {
	&:active {
		color: inherit;
	}

	&:visited {
		color: inherit;
	}
}
