li.item.component {
	/*;
		@note:
			All child if items are listed from top to bottom.
		@end-note
	*/
	flex-direction: column;

	justify-content: space-between;

	/*;
		@note:
			They will spread horizontally.
		@end-note
	*/
	align-items: stretch;

	margin-top: 0.5px;
	margin-bottom: 0.5px;

	&> .header {
		display: flex;

		flex-direction: row;

		justify-content: center;
		align-items: center;
	}

	&> .body > .component:nth-child( n + 2 ) {
		margin-top: 0.5px;
	}

	&> .body > .component:nth-last-child( n + 2 ) {
		margin-bottom: 0.5px;
	}
}
