li.item.component {
	flex-direction: column;

	justify-content: space-between;
	align-items: stretch;

	margin-top: $DEFAULT_GAP;
	margin-bottom: $DEFAULT_GAP;

	background-color: $DEFAULT_BACKGROUND_COLOR;

	&.focus {
		filter: brightness( 110% );
	}

	&> .header {
		display: flex;

		flex-direction: row;

		justify-content: center;
		align-items: center;
	}

	&> .body {
		flex-direction: column;

		justify-content: space-between;

		align-items: stretch;

		&> .component:nth-child( n + 2 ) {
			margin-top: $DEFAULT_GAP;
		}

		&> .component:nth-last-child( n + 2 ) {
			margin-bottom: $DEFAULT_GAP;
		}
	}
}
