button.button.component {
	flex-direction: column;

	justify-content: center;
	align-items: center;

	/*:
		@note:
			By default the button will not adjust.
		@end-note
	*/
	flex: 2 0 auto;

	background-color: rgba( 153, 153, 153, 0.5 );

	cursor: pointer;

	/*:
		@note:
			The button will only adjust if it is paird with another and is a label.
		@end-note
	*/
	&.label {
		flex: 1 1 auto;

		align-items: stretch;

		padding-left: 5%;
		padding-right: 5%;
	}

	&:focus {
		outline: none;
	}

	&.focus {
		filter: brightness( 110% );
	}

	&.press {
		filter: brightness( 80% );
	}

	&.icon,
	&.loading {
		width: 70px;
		min-width: 70px;
		max-width: 70px;

		height: 70px;
		min-height: 70px;
		max-height: 70px;
	}

	&.loading {
		cursor: progress;
	}

	.title.label {
		position: absolute;

		top: 0px;
		left: 0px;
		right: 0px;
	}

	.notice.label {
		position: absolute;

		bottom: 0px;
		left: 0px;
		right: 0px;
	}
}
