header.header.component {
	flex-direction: row;

	justify-content: center;
	align-items: stretch;

	flex: 1 1 auto;

	background-color: $DEFAULT_BACKGROUND_COLOR;

	filter: contrast( 120% ) brightness( 70% );
}
