.component {
	position: relative;

	display: flex;

	height: $MINIMUM_HEIGHT;
	min-height: $MINIMUM_HEIGHT;
	max-height: $MINIMUM_HEIGHT;

	width: 100%;
	min-width: 0;
	max-width: 100%;

	box-sizing: border-box;

	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;

	font-size: 1em;
	line-height: 1.5em;

	overflow: hidden;

	background: 0;

	text-rendering: optimizeLegibility;
	text-shadow: $DEFAULT_TEXT_SHADOW;

	& * {
		font-size: 1em;
		line-height: 1.5em;
		
		box-sizing: border-box;

		text-rendering: optimizeLegibility;
		text-shadow: $DEFAULT_TEXT_SHADOW;
	}

	&.hidden {
		@include hidden;
	}

	&.disabled {
		@include disabled;
	}
}
